.c7n-pi-card {
    min-width: 362px;
    padding: 15px 15px 20px;
    border: 1px solid #ccc;
    border-radius: 2px;
    table {
        thead {
            tr {
                th {
                    padding-bottom: 10px;
                }
            }
        }
        tbody {
            tr {
                td {
                    padding: 0 25px 8px 0;
                }
            }
        }
    }
}
