.c7n-scrumboard {
  flex-grow: 1;

  .c7n-scrumboard-header {
    display: flex;
    height: 40px;
    background: rgba(0, 0, 0, 0.04);
    padding: 0 24px;
  }

  .c7n-scrumboard-content {
    overflow: auto;

    .c7n-scrumboard-others {
      padding: 0 24px;

      .c7n-scrumboard-otherHeader {
        padding: 12px 0;
        display: flex;
        align-items: center;
      }

      .c7n-scrumboard-otherContent {
        display: flex;
      }
    }
  }
}
// .ant-select-dropdown {
//   top: 90px !important;
// }

.select-without-underline {
  .ant-select-underline {
    display: none;
  }
}

.c7n-scrumTools {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 8px 24px;

  .c7n-scrumTools-left {
    display: flex;
    align-items: center;
    overflow: hidden;

    p {
      white-space: nowrap;
    }

    .c7n-scrumTools-filter {
      cursor: pointer;
      padding: 3px 8px;
      margin-right: 18px;
    }
  }

  .c7n-scrumTools-right {
    span {
      margin-left: 30px;
      white-space: nowrap;
    }
  }
}

.c7n-scrumboard-page {
  .ant-select-selection__rendered {
    padding-right: unset;
    margin-bottom: unset;
  }

  .ant-select-arrow {
    right: unset;
  }

  .ant-select-selection-selected-value {
    color: #3f51b5;
  }

  .page-head .ant-btn:not(.back-btn) {
    line-height: '';
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .textDisplayOneColumn {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
}
@-moz-document url-prefix() {
  .textDisplayOneColumn {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .c7n-scrumboard-container {
    padding-bottom: 83px;
  }
}
.wrapSpin {
  height: 100%;
}
