.c7n-Issue {
  .expand-sign {
    .ant-pagination-options-label {
      display: none;
    }
    .ant-select-selection {
      min-width: unset;
    }
    .ant-pagination-total-text,
    .ant-pagination-first,
    .ant-pagination-prev,
    .ant-pagination-last {
      margin-right: unset;
    }
  }

  .ant-pagination-options {
    margin-left: 0;
  }

  .ant-table-filter-bar {
    padding-top: 6px;
    padding-bottom: 5px;
  }

  .c7n-add {
    .ant-input-length-info {
      display: none;
    }

    .ant-input-underline {
      display: none;
    }
  }

  .ant-dropdown {
    background: #fff;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
  }

  .ant-select .ant-select-underline {
    // display: none;
  }

  .c7n-icon-disabled {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.36);
    width: 32px;
    display: inline-block;
    padding: 5px;
  }

  .c7n-bar {
    .ant-table {
      display: none;
    }

    .ant-table-filter-bar {
      border-top: none;
    }

    .ant-table-columns-chooser {
      display: none;
    }
  }

  .c7n-count {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 100%;

    .c7n-span-count {
      display: inline-block;
      background: rgba(0, 0, 0, 0.08);
      padding: 0 5px;
      color: rgba(0, 0, 0, 0.65);
    }
  }

  .c7n-table {
    margin-top: 2px;
    padding-left: 24px;
    // padding-right: 24px;

    .ant-table {
      table {
        border-collapse: collapse;
      }
    }

    .c7n-status {
      border: 1px solid;
      border-radius: 2px;
      padding: 0 8px;
      // display: inline-block;
    }

    .c7n-border-visible {
      border-left: 3px solid #3f51b5;
      background: rgba(140, 158, 255, 0.08);
    }

    .c7n-border {
      border-left: 3px solid transparent;
    }

    .c7n-avator {
      display: inline-block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 5px;
      text-align: center;
      line-height: 18px;
      background: #c5cbe8;
      color: #6473c3;
    }

    .c7n-level {
      border-radius: 2px;
      padding: 0 8px;
      display: inline-block;
    }

    .c7n-sign {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      // margin-right: 11px;
      text-align: center;
      color: #fff;
      line-height: 21px;
      font-size: 14px;
      line-height: 16px;
    }
  }

  .c7n-content-container {
    display: flex;
    height: calc(100% - 58px);
  }

  .c7n-sidebar {
    height: calc(100vh - 106px);
    border-left: 3px solid #d3d3d3;
  }

  .c7n-hoverTitle {
    white-space: nowrap;
  }

  .c7n-hoverTitle:hover {
    color: blue;
    cursor: pointer;
  }

  .c7n-sidebar-content {
    margin: 28px 22px 0 22px;

    .c7n-sidebar-title {
      font-size: 20px;
      line-height: 28px;
    }

    .c7n-sidebar-items {
      display: flex;
      justify-content: space-between;

      .c7n-sidebar-item {
        display: flex;

        .c7n-sidebar-itemIcon {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }

        .c7n-sidebar-itemRight {
          margin-left: 12px;

          .c7n-sidebar-itemRightTitle {
            font-size: 9px;
            margin-bottom: 0;
            transform: scale(0.75);
            -webkit-transform-origin-x: 0;
            color: rgba(0, 0, 0, 0.54);
            line-height: 15px;
          }

          .c7n-sidebar-itemRightContent {
            font-size: 16px;
            line-height: 18px;
          }
        }
      }
    }
  }

  // .c7n-content-issue::-webkit-scrollbar,
  // .c7n-sidebar::-webkit-scrollbar {
  //   width: 6px;
  //   height: 6px;
  // }

  // .c7n-content-issue::-webkit-scrollbar-thumb,
  // .c7n-sidebar::-webkit-scrollbar-thumb {
  //   border-radius: 10px;
  //   // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  //   background: rgba(0, 0, 0, 0.2);
  // }

  // .c7n-content-issue::-webkit-scrollbar-track,
  // .c7n-sidebar::-webkit-scrollbar-track {
  //   // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  //   border-radius: 0;
  //   background: rgba(0, 0, 0, 0.1);
  // }

  .c7n-sidebar-basicInfo {
    .c7n-sidebar-basicTop {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);

      .c7n-sidebar-basicLeft {
        width: 22.6%;

        .c7n-sidebar-basicLeftItem {
          .c7n-sidebar-basicLeftItemP {
            transform: scale(0.75);
            color: rgba(0, 0, 0, 0.54);
            margin-bottom: 0;
            -webkit-transform-origin-x: 0;
          }

          .c7n-sidebar-basicApp {
            display: flex;
            align-items: center;

            p {
              margin-bottom: 0;
            }

            .c7n-sidebar-basicAppSquare {
              width: 24px;
              background-color: rgba(0, 0, 0, 0.36);
              margin-bottom: 0;
              line-height: 14px;
              height: 16px;
              color: white;
            }

            .c7n-sidebar-basicAppVersionIcon {
              width: 16px;
              height: 16px;
              background: #ffb100;
              border-radius: 50%;
              color: white;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-left: 25px;
            }
          }

          .c7n-sidebar-basicApp:not(:first-child) {
            margin-top: 12px;
          }

          .c7n-sidebar-basicLink {
            font-size: 13px;
          }
        }

        .c7n-sidebar-basicLeftItem:not(:first-child) {
          margin-top: 18px;
        }
      }
    }
  }

  .c7n-sidebar-rollup {
    font-size: 13px;
    color: #3f51b5;
    line-height: 15px;
    cursor: pointer;
    margin-top: 12px;
  }

  .wrapper {
    width: 100%;
    background: #eee;
  }

  .flex-wrap {
    display: flex;
    flex: 1;
  }

  .flex-fix {
    width: 100px;
    background: red;
    flex-shrink: 0;
  }

  .flex-fill {
    overflow: hidden;

    .flex-fill-p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .ant-spin-nested-loading {
    width: 100% !important;
  }

  .ant-table-thead > tr > th:focus, .ant-table-tbody > tr > td:focus {
    background-color: transparent;
  }

  .ant-table-filter-bar {
    padding-right: 90px;
  }
}

.c7n-backlog-sprintType {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
  text-align: center;
  line-height: 18px;
  background: #c5cbe8;
  color: #6473c3;
}
