.c7n-newLink {
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  }

  .ant-select-selection__choice {
    background: #3b78e7 !important;
    color: #fff !important;
  }
}
