.c7n-versionReport-versionInfo {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.c7n-versionReport-version-no {
  background-image: url('../../Home/style/pics/no_version.svg');
  width: 212px;
  height: 200px;
  border-radius: 50%;
}
