/* stylelint-disable no-descending-specificity */

.c7n-page-height {
  height: calc(100%);
}

.c7n-none-des {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.54);
  line-height: 24px;
}

.c7n-region .c7n-scroll-content {
  padding: 16px 24px 0 24px;
}

.c7n-region section {
  margin-bottom: 0;
}

.c7n-region p + p {
  margin-top: 0;
}

.c7n-region .c7n-space-first {
  margin-top: 0 !important;
}

.c7n-region h1,
.c7n-region h2,
.c7n-region h3,
.c7n-region h4,
.c7n-region h5,
.c7n-region h6 {
  bottom: auto;
  position: static;
}

.c7n-region h1 {
  color: #000;
  //font-family: "roboto";
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 32px;
}

.c7n-region h5,
.c7n-region h6 {
  text-transform: none;
}

.c7n-region {
  -webkit-touch-callout: default;
}

.c7n-region *,
.c7n-region *::before,
.c7n-region *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.c7n-region article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

.c7n-region ul {
  // list-style: none;
}

.c7n-region b,
.c7n-region strong {
  // font-weight: 500;
}

.c7n-region em {
  font-style: italic;
}

.c7n-region abbr {
  text-transform: none !important;
}

.c7n-region code,
.c7n-region pre {
  //font-family: "roboto mono";
}

.c7n-region p,
.c7n-region h1,
.c7n-region h2,
.c7n-region h3,
.c7n-region h4,
.c7n-region h5,
.c7n-region h6 {
  margin: 0;
  max-width: 512px;
  text-rendering: auto;
  word-wrap: break-word;
}

.c7n-region h2 {
  color: #000;
  //font-family: "roboto";
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
  line-height: 28px;
  margin-bottom: 8px;
  margin-top: 32px;
}

.c7n-region h3 {
  color: #000;
  //font-family: "roboto";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.005em;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 28px;
}

.c7n-region h4 {
  color: #000;
  //font-family: "roboto";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.005em;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 28px;
}

.c7n-region h5 {
  color: #000;
  //font-family: "roboto";
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 8px;
  margin-top: 24px;
}

.c7n-region h6 {
  color: #000;
  //font-family: "roboto";
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 8px;
  margin-top: 24px;
}

.c7n-region p {
  color: #000;
  //font-family: "roboto";
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 24px;
}

.c7n-region :focus {
  outline: 0;
}

.c7n-region button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.c7n-region table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

//.c7n-region a,
.c7n-region a .c7n-external-link-content {
  border-bottom: 1px solid #3367d6;
  color: #3367d6;
  cursor: pointer;
  text-decoration: none;
}

.c7n-region a.c7n-color-primary,
.c7n-region a.c7n-color-primary .c7n-external-link-content {
  border-color: rgba(0, 0, 0, 0.54);
  color: #000;
}

.c7n-region a.c7n-color-secondary,
.c7n-region a.c7n-color-secondary .c7n-external-link-content {
  border-color: rgba(0, 0, 0, 0.54);
  color: rgba(0, 0, 0, 0.66);
}

.c7n-region a:hover,
.c7n-region a:hover .c7n-external-link-content {
  border-color: #3367d6;
  color: #3367d6;
  text-decoration: none;
}

.c7n-region a:focus,
.c7n-region a:focus .c7n-external-link-content {
  border-color: #3367d6;
  color: #3367d6;
  outline: 1px solid #3367d6;
  outline-offset: 2px;
  text-decoration: none;
}

.c7n-region a:visited,
.c7n-region a:visited .c7n-external-link-content,
.c7n-region a:visited .c7n-icon svg {
  border-color: #7b1fa2;
  color: #7b1fa2;
}

.c7n-region a:visited:focus,
.c7n-region a:visited:focus .c7n-external-link-content {
  outline: 1px solid #7b1fa2;
  outline-offset: 2px;
  text-decoration: none;
}

.c7n-region a:active,
.c7n-region a:active .c7n-external-link-content,
.c7n-region a:visited:active,
.c7n-region a:visited:active .c7n-external-link-content,
.c7n-region a.mat-tab-link {
  outline: 0;
}

.c7n-region a.c7n-external-link {
  border: 0;
}

.c7n-region a:focus.c7n-external-link {
  outline: 0;
}

.c7n-region .c7n-text-title-1-subtle {
  color: #000;
  //font-family: "roboto";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.005em;
  line-height: 28px;
  margin-bottom: 8px;
  margin-top: 32px;
}

.c7n-region .c7n-text-title-2 {
  color: #000;
  //font-family: "roboto";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.005em;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 28px;
}

.c7n-region .c7n-text-title-3 {
  color: #000;
  //font-family: "roboto";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.005em;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 28px;
}

.c7n-region .c7n-text-title-4 {
  color: #000;
  //font-family: "roboto";
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 8px;
  margin-top: 24px;
}

.c7n-region .c7n-text-title-5,
.c7n-region .c7n-text-body-large {
  color: #000;
  //font-family: "roboto";
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 8px;
  margin-top: 24px;
}

@media (min-width: 0) and (max-width: 959px) and (orientation: portrait) {
  .c7n-region .c7n-legacy-toolbar-resize {
    height: 56px;
  }
}

@media (min-width: 0) and (max-width: 959px) and (orientation: landscape) {
  .c7n-region .c7n-legacy-toolbar-resize {
    height: 48px;
  }
}

table {
  font-size: 13px;
}

.c7n-input-readOnly .ant-input {
  color: rgba(0, 0, 0, 0.26);
}

.c7n-input-readOnly + .ant-input-border-wrapper {
  .ant-input-border {
    height: 0;
    background: none;
    border: 1px dashed rgba(0, 0, 0, 0.16);
  }

  .ant-input-border-active {
    display: none;
  }
}

//form

.c7n-formItem_180 {
  width: 180px;
  margin-right: 20px;
  display: inline-block;
}

.c7n-formItem_312 {
  width: 312px;
  // margin-right: 20px;
  display: inline-block;
}

//icon
.c7n-icon-finish {
  font-size: 18px;
  color: #00bfa5;
  vertical-align: middle;
}

.c7n-icon-help {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.36);
  vertical-align: middle;
}

.c7n-icon-timelapse {
  font-size: 18px;
  color: #ffb100;
  vertical-align: middle;
}

.c7n-text-ellipsis {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.c7n-read-delta {
  blockquote {
    border-left: 4px solid #eee;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 16px;
  }
}

.input:-webkit-autofill {
  background: transparent !important;
}

input,button,select,textarea{outline:none}

textarea{resize:none}