.react-quill-editor {
  .quill {
    height: 100%;
  }
  .ql-container {
    height: calc(100% - 42px);
  }
  .ql-toolbar {
    height: 42px;
  }
  img {
    max-width: 400px;
  }
  .ql-snow .ql-picker.ql-expanded .ql-picker-options {
    right: 0;
  }
}
