.c7n-scrumboard-statusHeader {
  height: 48px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 500;
  overflow: hidden;
  margin-right: 10px;
  background: #f5f5f5;
  min-width: 200px;
  &-columnMsg {
    display: flex;
    min-width: 90px;
    line-height: 20px;
    &-name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: calc(100% - 40px);
      display: inline-block;
      margin-left: 12px;
    }
    &-count {
      display: inline-block;
    }
  }
  &-columnConstraint {
    display: flex;
    align-items: center;
    min-width: 110px;
    line-height: 20px;
    &-max {
      margin-right: 12px;
    }
  }
}
