.c7n-scrumboard-status {
  height: 48px;
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
  border-right: 10px solid white;
  background: rgba(0, 0, 0, 0.04);
  min-width: 200px;
}
