.c7n-scrumboard-statusHeader {
  height: 48px;
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
  margin-right: 10px;
  background: #f5f5f5;
  min-width: 200px;
  .c7n-scrumboard-statusHeader-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 50px);
    display: inline-block;
    margin-left: 12px;
  }
  .c7n-scrumboard-statusHeader-count {
    display: inline-block;
  }
}
