.c7n-createBranch {
  .c7n-title {
    font-size: 9px;
    color: rgba(0, 0, 0, 0.54);
    line-height: 14px;
    display: block;
    margin-bottom: 8px;
  }

  .branch-formItem-icon {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
    margin-right: 10px;
    display: inline-block;
    margin-top: 14px;
  }

  .branch-formItem {
    display: inline-block;
    width: 484px;
  }

  .c7n-formItem_281 {
    width: 281px;
    display: inline-block;
  }

  .ant-input-group-addon {
    padding: 0 !important;
    border: none !important;
    background: #fff !important;
    color: rgba(0, 0, 0, 0.65) !important;
  }
}

.c7n-formItem_180 {
  width: 180px;
  margin-right: 20px !important;
  display: inline-block;
}