.c7n-pi-detail {
    .ant-select-underline{
        display: none;
    }
    .c7n-pi-showTypeRadioGroup{
        .ant-radio-button-wrapper{
            border: 1px solid #3F51B5;
            color: #3F51B5;
        }
        .ant-radio-button-wrapper-checked:first-child {
            border-radius: 4px 0 0 4px;
        }
        .ant-radio-button-wrapper:last-child{
            border-radius: 0 4px 4px 0;
        }
        .ant-radio-button-wrapper-checked {
            background: #3F51B5;
            color: #fff;
        }
    }
    .c7n-pi-action{
        .icon {
            margin-right: 5px;
            cursor: pointer;
        }
    }
    .c7n-pi-teamAims{
        .ant-table-expanded-row-level-1{
            td[colspan="1"] {
                padding: 0;
                .ant-table-thead > tr > th{
                    background: unset;
                }
            }
        }
    }
}
.c7n-pi-piSelect {
    width: 120px !important;
}
