.c7n-map {
  // background: rgba(0,0,0,0.02)
  position: relative;

  p {
    margin-bottom: 0;
  }
  .c7n-usermap-quickFilter {
    // height: 48px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    // padding: 10px 0;
    position: relative;
    width: 100%;
    margin-bottom: 47px;
    // border-bottom: 1px solid #d3d3d3;

    .filter {
      position: fixed;
      flex-wrap: wrap;
      overflow: hidden;
      display: flex;

      p {
        cursor: pointer;
        padding: 3px 8px;
        margin-right: 18px;
        border-radius: 2px;
        white-space: nowrap;
        // line-height: 25px;
      }
    }

  }

  .moreMenu {
    display: block;
    position: absolute;
    top: 50px;
    left: 18%;
    z-index: 1050;
    background: #FFFFFF;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,0.20), 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12);
    border-radius: 2px;
  }

  .c7n-userMap {
    position: relative;
    left: 24px;
    top: 10px;
  }

  .map-content {
    margin-left: 24px!important;
  }
  .filter {
    // position: fixed;
    flex-wrap: wrap;
    overflow: hidden;
    display: flex;

    p {
      cursor: pointer;
      padding: 3px 8px;
      margin-right: 18px;
      border-radius: 2px;
      white-space: nowrap;
      // line-height: 25px;
    }
  }

  .epic-card {
    width: 220px;
    height: 98px;
    background: #FFFFFF;
    box-shadow: 0 -1px 6px 0 rgba(0,0,0,0.12);
    border-radius: 2px;
    margin-right: 10px;
    min-width: 220px;
  }
  .point-span {
    text-align: center;
    border-radius: 100px;
    margin-right: 13px;
    width: 27px;
    height: 20px
  }

  .swimlane-column {
    padding-top: 10px;
    background: rgba(0,0,0,0.02);
    border-radius: 2px;
    width: 220px;
    min-width: 220px;
    margin-right: 10px;
    min-height: 142px;

    .issue-card {
      width: 220px;
      min-width: 220px;
      height: 142px;
      background: #FFFFFF;
      border: 1px solid rgba(0,0,0,0.20);
      border-radius: 2px;
    }
  }
}

.menu-title {
  font-size: 16px;
  color: rgba(0,0,0,0.65);
  text-align: left;
  margin: 32px 0 12px 0;
  line-height: 16px;

  div {
    line-height: 0;
  }

  &:first-child {
    margin-top: 0;
  }

}
