.ant-tag-checkable {
  &,
  a,
  a:hover {
    color: #000;
  }
  &:active,
  &-checked {
    color: #fff;
  }
}
.c7n-agile {
  &-quickSearch {
    &-container {
      display: flex;
      align-items: center;
      flex-grow: 1;
      // padding: 0 17px;
      height: 44px;
    }
    &-tag {
      font-size: 14px;
      height: 28px;
      line-height: 28px;
    }
    &-left {
      p {
        margin-bottom: 0;
      }
      display: flex;
      align-items: center;
      // width: 100%;
    }
    &-filter {
      margin-bottom: 0;
      font-size: 14px;
    }
    &-clicker {
      white-space: nowrap;
      padding: 0 8px;
      line-height: 32px;
      margin-right: 18px;
    }
    &-clicker:focus, &-clicker:active {
      background-color: #3f51b5;
    }
    &-popover {
      .ant-checkbox-group-item {
        margin-bottom: 5px;
      }
    }
  }
}

.quickSearchDropDown{
  .ant-select-dropdown-select-all-none{
    display: none;
  }
}
.assigneeSelect, .quickSearchSelect{
  border-radius: 3px;
  padding: 0 3px;
  &:hover{
    background-color: rgba(0, 0, 0, 0.04);
  }
  
 .ant-select-selection--multiple{
  .ant-select-selection__choice__content{
    max-width: 110px;
  }
   .ant-select-selection__rendered{
     padding-right: 32px;
    .ant-select-selection__placeholder{
      margin-top: 3px;
    }
    ul{
      margin-top: 3px;
    }
    .ant-select-arrow{
      right: -8px;
      bottom: 5px;
    }
    button{
      bottom: 3px;
    }
   }
   
   
  }
  .ant-select-underline{
    display: none;
  }
}
.ant-spin-container{
  min-width: 180px;
  background: #fff;
}

.quickSearchSelect{
  .ant-select-selection__choice__content{
    max-width: 160px;
  }
}

