.c7n-unCompleteTaskHome{
    text-align: center;
    padding-top: 14px;
    padding-bottom: 28px;
    .c7n-loadWrap{
        display: flex;
        justify-content: center;
    }
    .unit{
        vertical-align: 2px;
        padding-left: 2px;
    }
}