.c7n-VersionProgress{
  .switchVersion{
     position: absolute;
      top: 25px;
      right: 16px;
    .ant-dropdown-link{
      font-size: 13px;
      // color: #3F51B5;
      line-height: 15px;
    }
  }
  .c7n-loadWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;

  }
  .charts{
    position: relative;
    margin-bottom: -80px;
    .charts-inner{
      width: 64px;
      height: 64px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: calc(35% - 30px);
      left: calc(35% - 32px);
    }
  }   
}

.c7n-agile-dashboard-versionProgress-select {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 15px;
  cursor: pointer;
  color: #000;
}