.c7n-parentIssue-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c7n-parentIssue-status {
  padding: 2px 8px;
  border-radius: 2px;
  background: rgb(77, 144, 254);
  color: white;
  margin-left: 20px;
  margin-right: 6px;
}
.c7n-parentIssue-count{
  padding-left: 11px;
  font-size: 12px;
  color: rgba(0,0,0,0.54);
}
.c7n-parentIssue-subIssue {
  margin-left: 12px;
  color: rgba(0, 0, 0, 0.54);
}
