.c7n-agile-iterationBoard {
  .select-without-underline {
    .ant-select-underline {
      display: none;
    }
    .icon-arrow_drop_down{
      color: #3F51B5;
    }
    .ant-select-selection-selected-value {
      color: #3f51b5;
    }
  }
}