.c7nagile-CalendarHeader {
  width: 100%;
  background: #FAFAFA;

  .c7nagile-CalendarHeader-years {
    display: flex;
    border-top: 1px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
  }

  .c7nagile-CalendarHeader-year {
    // &:first-child {
    //   border-left: none;
    // }
    // border-left: 1px solid #D6D6D6;
    font-weight: 500;
    font-size: 14px;
    height: 22px;
    line-height: 22px;
  }

  .c7nagile-CalendarHeader-weeks {
    display: flex;
    border-bottom: 1px solid #D6D6D6;
  }

  .c7nagile-CalendarHeader-week {
    flex: 7;
    height: 55px;

    position: relative;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:after {
      content: "";
      width: 0;
      border-left: 1px solid #D6D6D6;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    &-num {
      color: rgba(0, 0, 0, 0.60);
      margin: 2px 0 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-during {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 500;
    }
  }
}
