.PiItem {
  background: white;
  background: #F4F4F4;
  padding: 10px 0;
  &-pi {
    position: relative;
    z-index: 2;
    &-title {
      height: 30px;
      line-height: 30px;
      padding: 0 10px;
      border: 1px solid #393E46;
      border-left-width: 3px;
      border-right: none;
    }
    &-sprints {
      height: 24px;
      line-height: 24px;
      background: white;
      display: flex;
    }
    &-sprint {
      flex: 1;
      height: 100%;
      padding: 0 10px;
      border-left: 3px solid #C0C0C0;    
    }
  }
}
